
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Education</title>
</head>
<body>
    <div>
        <table align="center">
            <tr>
                <td colspan="13" align="center"><h1>CV</h1></td>
            </tr>
            <tr>
                <td><a href="https://localhost:44362/CV/Home"><b>Home</b></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="https://localhost:44362/CV/Education"><b>Education</b></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="https://localhost:44362/CV/Projects"><b>Projects</b></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="https://localhost:44362/CV/Reference"><b>Reference</b></a></td>
            </tr>
        </table><br><br>

        <h2>
            <ol type="i">
                <li>Bsc</li>
                    <ul type="disc">
                        <li>Semester: 12</li>
                        <li>Cgpa: 3.35</li>
                    </ul>
                <li>A levels</li>
                    <ul type="disc">
                        <li>Institute: British Council</li>
                        <li>GPA: 4.00</li>
                    </ul>
                <li>O levels</li>
                    <ul type="disc">
                        <li>Institute: Loreeto International School</li>
                        <li>GPA: 5.00</li>
                    </ul>
            </ol>
        </h2>

    </div>
</body>
</html>
