
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Projects</title>
</head>
<body>
    <div>
        <table align="center">
            <tr>
                <td colspan="13" align="center"><h1>CV</h1></td>
            </tr>
            <tr>
                <td><a href="https://localhost:44362/CV/Home"><b>Home</b></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="https://localhost:44362/CV/Education"><b>Education</b></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="https://localhost:44362/CV/Projects"><b>Projects</b></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="https://localhost:44362/CV/Reference"><b>Reference</b></a></td>
            </tr>
        </table><br><br>

        <h2>
            <ol type="i">
                <li>OOP2</li>
                <ul type="disc">
                    <li>Payroll Management System</li>
                </ul>
                <li>OOP1</li>
                <ul type="disc">
                    <li>Calculator</li>
                </ul>
                <li>Web Technology</li>
                <ul type="disc">
                    <li>Bank Management System</li>
                </ul>
            </ol>
        </h2>
    </div>
</body>
</html>
